     .row.content {height: auto;}
      
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
     @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    #lbname
    {
      font-weight: bold;
      font-size: 22px;
      padding-right: 30px;
    }
    #logo
    {
       font-size: 25px;
       
        font-family: Verdana;
    }
.avatanews
{
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 10px;

}
.detailnews
{
  background-color: #FFFFFF;
   border: 1px solid #EEEEEE;
  border-radius: 10px;
}
.col-sm-2 sidenav
{
  border: 1px solid #EEEEEE;
  border-radius: 10px;
}
#col-sm-3 sidebarprofile
{
  border: 1px solid black;
}