#body_chat {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
}

.noidung {
    border: 2px solid #dedede;
   
    border-radius: 5px;
    padding: 10px;
    color: black;
    margin: 10px 0;
   
}
.send
{   background-color: #6699FF;
    width: 400px;
    float: right; 
}
.darker {
    border-color: #ccc;
    background-color: #EEEEEE;
    width: 400px;
    float: left;
}

.noidung::after {
    content: "";
    clear: both;
    display: table;
}

.noidung img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}


.noidung img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}

.time-right {
    float: right;
    color: black;
}

.time-left {
    float: left;
    color: black;
}